.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-image: url(/images/escudo.jpg);
    background-size: 100%;
}

* {
    margin: 0;
}

.capitao {
    height: 100vh;
}

.ferro {
    height: 100vh;
}

img {
    height: 100vh;
}